html,body {
    height: 100%;
    width: 100%;
}
// 加入通用css代码（引入一次就行） symbol方式引入的
.icon {
    // width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    // font-size: 16px;

}