html,body {
    background-color: #000;
}
.red {
    width: 500px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    margin: 100px auto;
    background-color: red;
    color: #fff;
    /* background: url('./icon.gif'); */
}
img {
    width: 100%;
}